{% extends 'index.html.twig' %}
{% block title %}Статья{{ id }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% for key, item in arr %}
        {% if key == id %}
            <div class="col-md-6_modern">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">{{ item.topic }}</strong>
                            <h3 class="mb-0">{{ item.title }}</h3>
                            <div class="mb-1 text-muted">{{ item.date }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <p>{{ item.content }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}