{% extends 'index.html.twig' %}
 {% import 'macros/forms.html.twig' as forms %}
{% block title %}Регистрация{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="css/reg_form.css">
{% endblock %}
{% block content %}
    <main class="form-signin w-100 m-auto">
        <form>
            <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
            <div class="form-floating">
                {{ forms.input() }}
                <label for="floatingInput">Имя</label>
            </div>
            <div class="form-floating">
                {{ forms.input('login') }}
                <label for="floatingInput">Логин</label>
            </div>
            <div class="form-floating">
                {{ forms.input('email', 'form-control', '', 'name@example.com') }}
                <label for="floatingInput">Почта</label>
            </div>
            <div class="form-floating">
                {{ forms.input('password') }}
                <label for="floatingPassword">Пароль</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
        </form>
    </main>
{% endblock %}
